@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: 'KOTRAHOPE';
}

header > a {
    font-size: 2rem;
}

/* 라이브러리 */
.con-min-width {
    min-width : 1080px;
}

.con {
    width : 1080px;
    margin : 0 auto; /* 0은 위아래 margin은 왼쪽+오른쪽 // display block을 가운데로 정렬 할 수 있다. */
}

/* list 테이블 만드는 부분*/
.table-box-type-1 > table {
    width :100%;
}

/* list 테두리 만듬 */
.table-box-type-1 > table th,
.table-box-type-1 > table td {
    border:1px solid black;
    padding: 10px;
}
/* 여기까지 테이블 만드는 부분 */

/* 커스텀 */
body {
    min-width : 800px;
}

.reply-list__body > div {
    min-height : 50px;
}
